/Lab5/nbproject/private/
/Lab reports/Lab5/nbproject/private/
/Lab reports/Lab5/build/
/Lab reports/Lab6/nbproject/private/
/Lab reports/Lab6/build/
/Lab reports/Lab7/nbproject/private/
/Lab reports/Lab7/build/
/Lab reports/Lab 8/nbproject/private/
/Lab reports/Lab 8/build/
/Lab reports/Practice/nbproject/private/
/Lab reports/Practice/build/
